extends ./layout.pug
block contenido
	h1 Welcome a Example NodeJS - MongoDB
	ul(class="nav nav-pills")
		li(role="presentation")
			a(href="/signup") Sign Up
		li(role="presentation")
			a(href="/signin") Sign In

	